html {
  font-size: 18px;
  background-color: white;
}
html {
  font-family: sans-serif;
  line-height: 1.15;
  text-size-adjust: 100%;
}
body {
  font-family: Helvetica, sans-serif;
  line-height: 1.4em;
}
body {
  margin: 0px;
}
div {
  display: block;
}
h1, h4 {
  font-weight: bold;
}
.company {
  background-color: black;
  color: white;
}
.company img {
  height: 1.5rem;
  padding-right: 15px;
}
img {
  border-style: none;
}
.container {
  max-width: 960px;
  margin: 0px auto;
}
.company .container {
  display: flex;
  align-items: center;
  padding: 12px 0 12px .5em;
}
.main-banner {
  height: 25em;
  background: url(../photos/moto.jpeg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.headline {
  background-color: black;
  color: white;
  width: 20em;
  padding: 2em 3em;
  position: relative;
  top: 9em;
}
.headline h1 {
  font-size: 2em;
  line-height: 1.2em;
  margin: 0.25em 0;
}
nav {
  background-color: firebrick;
  color: white;
}
nav ul {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.75em 0;
  list-style: none;
}
.products, .business-info {
  display: flex;
  justify-content: space-between;
  margin: 3em 0px 0px;
}
.product {
  width: 30%;
}
.product-image {
  height: 9em;
  display: flex;
  justify-content: center;
  align-items: center;
  border-width: 4px;
  border-style: solid;
  border-color: black
  border-image: initial;
  padding: 2em 0px;
}
.product-image img {
  max-width: 8em;
}
.description {
  display: block;
  background-color: black;
  color: white;
  text-align: center;
  padding: 0.5em;
}
.info {
  width: 35%;
}
.info .title {
  display: block;
  background-color: black;
  color: white;
  padding: 1em 2em;
}
footer {
  background-color: black;
  color: white;
  margin-top: 4em;
  padding: 5em 0px;
}
